{{yield}}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <div class="panel-heading"><h4 class="panel-title" style="color:#444">Content</h4></div>
        </a>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <p align="center">
                    <legend>{{model.thisSubmission.title}}</legend>
                    <iframe id="fred" title="Submission" src={{model.thisSubmission.attachment}} scrolling="auto"></iframe>
                </p>
          <span align="center">
           <h4> Author(s):</h4><p>{{model.thisSubmission.authorname}}</p>
            <h4> Conference:</h4><p>{{model.thisSubmission.conference}}</p>
          </span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Assign Reviewers</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          {{reviewer-list-view model=model storereviewerInfo="storereviewerInfo" }}
    </div>
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <div class="panel-heading">
                <h4 class="panel-title" style="color:#444">
                    Decision
                </h4>
            </div>
        </a>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>