{{cos-navbar navigate='navigate'}}

<div class="container-fluid big">
    <div class="row">


          {{filter-search  title="Assign Reviewers" filter=false}}



          {{reviewer-list-view model=model storereviewerInfo="storereviewerInfo"}}


           {{#if isshowingBio}}


               {{reviewer-bio model=model reviewerInfo=reviewerInfo}}


               <div class="invite" style="margin: auto; width: 100px"> <button id="button3id" name="button3id" class="btn btn-primary"  {{action 'showdata2' reviewerInfo.name}} >Invite</button> </div>


           {{/if}}

            <!--<button id="button1id" name="button1id" class="btn btn-success"  {{action 'gotodashboard'}}>Back</button>-->


    </div>

    <div id="submitAlert" class="alert alert-success hide fade in" style = "width: 250px">
        Email sent successfully..
    </div>

    <div id="submitAlert2" class="alert alert-danger hide fade in" style = "width: 500px">
        Submission already assigned to this reviewer..
    </div>

</div>


{{#if isshowingInvite}}
  {{#modal-dialog close="hidedata"
  targetAttachment="center"
  translucentOverlay=true}}
      <form class="form-horizontal" style="width: 1000px">
          <fieldset>

              <!-- Form Name -->
              <legend>Reviewer Invitation</legend>

              <!-- Textarea -->
              <div class="form-group" >
                  <label class="col-md-4 control-label" for="textarea">Email Message</label>
                  <div class="col-md-4">
                        <textarea class="form-control" id="textarea" name="textarea" rows="18" style="width: 600px">{{emailbody}} </textarea>
                  </div>
              </div>



              <!-- Button (Double) -->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="button1id"></label>
                  <div class="col-md-8">
                      <button id="button1id" name="button1id" class="btn btn-success" {{action 'sendemail'}}>Send</button>
                      <button id="button2id" name="button2id" class="btn btn-danger" {{action 'hidedata'}}>Cancel</button>

                  </div>


              </div>

          </fieldset>
      </form>
  {{/modal-dialog}}
{{/if}}






{{outlet}}



