{{cos-navbar navigate='navigate' gotoreviewing='gotoreviewing' gotoediting='gotoediting'  }}

<div class="container-fluid big">
    <div class="row">
        {{filter-search  title="My Reviews"}}
        {{review-list-view  model=model openreview='openreview' decidesubmission='decidesubmission'}}
    </div>
</div>

{{#if isshowingInfo}}
  {{#modal-dialog targetAttachment="center" translucentOverlay=true}}

    {{reviewer-account model=model cancel='cancel' saveReviewer='saveReviewer' }}


  {{/modal-dialog}}
{{/if}}


{{outlet}}
